@import 'fonts';
@import "media";
@import 'mixin';
    
//.test-1{
//    p{
//    @include text-1; 
////        вставка @mixin
//    }
//}
body{
    margin: 0;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.header{
    position: absolute;
    display: flex;
    flex-direction: row;
    &__logo{
        font-family: quite;
        color:  #ffffff;
        font-size: 88.32px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        margin-left: 70px;
        margin-top: 30px;
        letter-spacing: 0;
    }
    &__nav{
        margin-left: 183px;
        &__item{
            font-family: MonseBold;
            color:  #ffffff;
            font-size: 18px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            display: inline-block;
            cursor: pointer;
            margin-top: 40px;
            padding: 11px;
            border-radius: 5px;
            transform: 0.5s;
            margin-right: 3px;
            &:hover{
                background-color: black;
                border-radius: 5px;
                
            }
        }
    }
}
.content{
    &__wrapper{
        max-width: 1200px;
        min-height: 688px;
        background-image: url(../image/Layer%2013.jpg);
        &__text{
            
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-left: 100px;
            &__item-first{
                font-family: MonseBold;
                color:  #130e27;
                font-size: 86px;/* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                line-height: 50px;
                margin-top: 270px;
                letter-spacing: 1px;
            }
            &__item-second{
                 font-family: MonseBold;
                color:  white;
                font-size: 90px;/* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                
            }
            &__item-third{
                font-family: PTS;
                color:  #ffffff;
                font-size: 20px;/* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 28px;/* Приближение из-за подстановки шрифтов */
                text-align: left;
                width: 500px;
                margin-top: 24px;
                
            }
        } 
    }
    &__form{
        position: absolute;
        margin-left: 695px;
        margin-top: -280px;
    }
    .form{
        border-radius: 5px;
        background-color:  #ffffff;
        box-shadow: 2px 4px 31.92px 6.08px rgba(137, 137, 137, 0.71);
        width: 400px;
        height: 492px;
        padding-top: 28px;
        text-align: center;
        &__text{
        font-family: MonseBold;
        color:  #130e27;
        font-size: 22px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
            margin-right: 14px;
            
        
     
        }
        &__name{
                @include input;
                
            }
        &__email{
            @include input;
            margin-top: 15px;
        }
        &__phone{
            @include input;
            margin-top: 15px;
        }
        &__country{
            @include input;
            margin-top: 15px;
        }
        &__checkbox{
            border-radius: 5px;
            background-color:  #eeeeee;
            width: 19px;
            height: 18px;   
            margin-right: 20px;
        }
        span{
            font-family: PTs;
            color:  #130e27;
            font-size: 20px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 25px;/* Приближение из-за подстановки шрифтов */
            text-align: left;
        }
        &__send{
            border-radius: 5px;
            background-color:  #c62314;
            width: 353px;
            height: 57px;
            margin-top: 15px;
        }
        .send{
            font-family: MonseBold;
            color:  #ffffff;
            font-size: 22px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            text-align: left;
        }
        
            
    }
}
.content__form__label{
    display: block;
    margin-right: 50px;
    margin-top: 20px;
}
.content__services{
        
        height: 482px;
        width: 1200px;
    
    &__text{
        font-family: Couture;
        color:  #c62314;
        font-size: 50px;/* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 80px;/* Приближение из-за подстановки шрифтов */
        text-align: left;
        
        
}
    &__text-item{
        font-family: Couture;
        color:  #130e27;
        font-size: 50px;/* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 80px;/* Приближение из-за подстановки шрифтов */
        text-align: left;
        
       
    }
    }
.content__services__title{
    margin-left: 100px;
    margin-top: 45px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 97px; 
}
.heart{
    background-image: url(../image/Shape%20108.png);
    width: 163px;
    height: 142px;
    margin-left: 10px;
    
    }
.wrench{
    background-image: url(../image/Shape%20127.png);
    width: 137px;
    height: 137px;
	margin-left: 30px;
    
    
}
.bulb{
    background-image: url(../image/Shape%20106.png);
    width: 116px;
    height: 155px;
	margin-left: 30px;
    
}
.gps{
    background-image: url(../image/Shape%2097.png);
    width: 150px;
    height: 150px;
    margin-left:10px;
    
    
}
.text-wrapper{
    font-family: PTSerif;
    color:  #161616;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    
}
.content__our-story{
    background-color:  #130e27;
width: 1200px;
height: 123px;
}
.text-story{
    font-family: PTs;
    color:  #ffffff;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.story{
    border-radius: 5px;
    background-color:  #c62314;
    width: 269px;
    height: 64px;
    border:0;
    margin-left: 826px;
}
.text-monse{
    font-family: MonseBold;
    color:  #ffffff;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.wrench-text{
	width: 200px;
	text-align: center;
}
.text-bulb{
	width: 180px;
	text-align: center;
}
.text-gps{
	width: 170px;
	text-align: center;
}
.heart-text{
	width: 180px;
	text-align: center;
}
.content__services__element-heart{
	margin-left: 30px;
}
.content__services__element-wrench{
	margin-left: 70px;
}
.content__services__element-bulb{
	margin-left: 70px;
}
.content__services__element-gps{
	margin-left: 100px;
}





.content__pricing{
    background-color:  #efefef;
    width: 1200px;
    height: 537px;
    
    &__text1{
        font-family: MonseBold;
        color:  #c62314;
        font-size: 60px;/* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 80px;/* Приближение из-за подстановки шрифтов */
        text-align: left;
    }
    &__item{
        border-radius: 5px;
        background-color:  #ffffff;
        width: 318px;
        height: 389px;
        display: inline-block;
    }
}